<%- include('partials/header') %>
<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x mb-4 text-dark"></i>
    <h1 class="display-4">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg mr-2" href="/register">Register</a>
    <a class="btn btn-dark btn-lg" href="/login">Login</a>
  </div>
</div>
<%- include('partials/footer') %>