<%- include('partials/header') %>
<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x mb-4 text-dark"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <hr class="my-4">
    <p class="secret-text"><%= secret || 'No secret submitted yet.' %></p>
    <a class="btn btn-light btn-lg mr-2" href="/logout">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit">Submit a Secret</a>
  </div>
</div>
<%- include('partials/footer') %>