<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-4x mb-4 text-dark"></i>
    <h1 class="display-6">You've Discovered Your Secret!</h1>
    <hr class="my-4">
    
    <p class="secret-text">Thanks for sharing your secret!</p>
    <div class="mt-4">
      <a class="btn btn-light btn-lg mr-2" href="/logout">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit">Submit a New Secret</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
