<%- include('partials/header') %>
<div class="container mt-5">
  <div class="jumbotron text-center p-5">
    <i class="fas fa-key fa-5x mb-4 text-dark"></i>
    <h1 class="display-6">Secrets</h1>
    <p class="secret-text mb-6">Don't keep your secrets, share them anonymously!</p>
    <form action="/submit" method="POST">
      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret?" required>
      </div>
      <button type="submit" class="submit-button btn btn-dark">Submit</button>
    </form>
  </div>
</div>
<%- include('partials/footer') %>